# 3D models
model_viewer/public/models/*.glb

# dependencies
node_modules/
model_viewer/node_modules/

# next.js
.next/
model_viewer/.next/
out/
model_viewer/out/

# testing
coverage/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts